/* ------------------------------------------------------------------------------
 CSS Reset
-------------------------------------------------------------------------------*/

* {
	padding:0;
	margin:0;
}
body {
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	position:relative;
	background:#000;
	width:100%;
	height:100%;
	overflow: scroll;
	overflow-x: hidden;
}
.contactInfo {
	text-decoration:none;
	color:black;
	outline:none;
}
.contactInfo:hover {
	color: #1ba39c
}

/*----------------------------------------------------
 Document Setup
------------------------------------------------------*/
.wrapper{
	width:100%;
}
.spHeight{
	padding-top:63px;
}

.noMar{
	margin:0 !important;
}
.noPadd{
	padding:0px !important;
}

.container .row{
	margin:0px;
}

.pStyle{
	font-size:16px;
}

h4.subHeading{
	font-weight:600;
	font-size:18px;
	padding-bottom:22px;
}

.heading{
	text-align:center;
	padding-bottom:45px;
}

.topmar{
	margin-top:20px;
}

/*----------------------------------------------------
 Technical Skills Style
------------------------------------------------------*/
.addspace{
	height:60px;
	background: #fff;;
}

.technical{
	background:#fff;
	color:#474d5d;
}
.technical .container{
	padding-top:85px ;
	padding-bottom:69px ;
}
.technical .heading p{
	padding-bottom:41px;
}

.technical p{
	color:#474d5d;
}

.technical .skillsArea{
	padding:0px;
}
.technical .skills{
	margin:0 auto;
	margin-bottom:23px;
	text-align:center;
	padding:0px;
	float:none;
}
.technical .skills p{
	color:#84868d;
	font-size:13px;
	line-height:18px;
	text-align:center;
}
.technical .skills img{
	margin:0 auto;
	margin-bottom:33px;
	width:100%;
	max-width:152px;
}

.technical .skills h4{
	font-weight:700;
	text-transform:uppercase;
}

.skilBg{
	background:url(../images/skills.png) no-repeat 0 0;
}

.chart {
  position: relative;
  display: inline-block;
  width: 152px;
  height: 152px;
  margin-bottom: 26px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  font-size:21px;
  color:#474d5d;
  line-height: 152px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}

/*----------------------------------------------------
 Project Style
------------------------------------------------------*/
:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

.redHover:hover{
	color: hsl(0, 78%, 62%);
}

.blueHover:hover{
	color: hsl(212, 86%, 64%);
}

.orangeHover:hover{
	color: hsl(34, 97%, 64%);
}

.cyanHover:hover{
	color: hsl(180, 62%, 55%);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

.tags {
	background-color: #f1f1f1;
	border-radius: 1px;
	display: inline-block;
	box-sizing: inherit;
	padding: 8px 16px;
	margin: 2px 0px 2px 0px;
	font-size: 10pt;
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 350px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: auto;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }    
}

/*----------------------------------------------------
 Work Experience Style
------------------------------------------------------*/
.exprience{
	background:#fff;
}
.exprience .container{
	padding-top:85px ;
	padding-bottom:90px ;
}

.exprience p{
	color:#84868d;
	/*font-size:13px;*/
	
}
.exprience .heading p{
	padding-bottom:41px;
}

.exprience h4{
	font-weight:700;
}

.workDetails .rightArea{
	border-left: solid 1px #eaeaea;
	padding-bottom:47px;
}
.workDetails:last-child .rightArea{
	padding-bottom:0px;
}
.workYear{
	font-size:17px;
	color:#fff;
	background:#1ba39c;
	text-align:center;
	width:120px;
	height:120px;
	padding:40px 0 40px 0;
	
	-webkit-border-radius: 50%;
    border-radius: 50%;
}

.exCon{
	width:auto;
	background:#fff;
	padding:22px 47px 6px 47px;
	margin-left:15px;
	text-align:left;
}


.exCon h4{
	color:#474d5d;
	padding-bottom:3px;
}
.exCon h5{
	color:#474d5d;
}

/*---------------------------------------------------------------------------------
 Responsive style
-------------------------------------------------------------------------------*/

@media screen and (min-width: 1200px) {
	.workYear{
		width:140px;
		height:140px;
		padding-top:50px;
	}
	
	.education .workYear{
		padding-top:58px;
	}
}

@media screen and (max-width: 991px) {
	.navbar.navbar-inverse.navbar-static-top a{
		padding-left:18px;
		padding-right:18px;
	}
	
	.bannerText{
		padding-left:25px;
		padding-right:25px;
	}
	.bannerText h1{
		font-size:65px;
		line-height:71px;
	}
	.bannerText h2{
		font-size:28px;
	}
	.proPic{
		text-align:center;
	}
}

@media screen and (max-width: 810px) {
	body{
		min-height:700px;
	}
	#header h3{
		font-size: 38px;
	}
	#header h3 span{
		font-size: 16px;
	}
	
	.abc{
		width:100%;
	}
	
	.navbar.navbar-inverse.navbar-static-top a {
		padding-left: 17px;
	}
	
}

@media screen and (min-width: 768px) {
	.conForm input.col-sm-6 {
		width: 48.5%;
	}
	.conForm input.col-lg-6 {
		width: 48.5%;
	}
}

@media screen and (max-width: 768px) {
	.navbar-wrapper .container,
	.navwrapper .container{
		padding-right: 15px;
		padding-left: 15px;
	}
	ul.portfolioContainer li.col-xs-6{
		width:49%;
		min-height: 85px;
		
	}
	
}

@media screen and (max-width: 767px) {
	.navbar-header{
		display:block;
	}
	.workYear{
		margin:0 auto;
	}
	.workDetails .rightArea{
		border-left:none;
	}
	.exCon{
		margin-left:0px;
	}
	ul.navbar-nav li a{
		display:block;
	}
}

@media screen and (max-width: 650px) {
	#wrapper{
		top: 200px !important;
	}
	.upbox{
		transform: translate(0px, -70px);
		-ms-transform: translate(0px, -70px); /* IE 9 */
		-webkit-transform: translate(0px, -70px); /* Safari and Chrome */
	}
	
	.bannerText {
		top: 25%;
		padding-top:15px;
		padding-bottom:15px;
	}
	.bannerText h1 {
		font-size: 42px;
		line-height: 48px;
	}
	.bannerText h2 {
		font-size: 18px;
		line-height:24px;
	}
}

@media screen and (max-width: 480px) {
	.navbar.navbar-inverse.navbar-static-top a{
		line-height: 17px;
		padding-top:11px;
		padding-bottom:11px;
	}
}

@media screen and (max-width: 400px) {
	#loopedSlider, #newsSlider{
		min-height: 650px;
		height: 100%;
	}
	ul.slides{
		min-height: 600px;
		height: 100%;
	}
	
	.item{
		width: 19%;
	}
	.item p {
		font-size: 36px;
	}
	
	.aboutme img{
		width:100%;
	}
	
	ul.portfolioContainer li.col-xs-6{
		width:100%;
	}
	
	.bntDownload{
		font-size: 13px;
		padding: 16px 14px;
	}
	
	.conForm textarea{
		margin-bottom:20px;
	}
	.textGroup{
		display:block;
		padding:0 0 40px 0;
	}
	
	.nameError,
	.emailError{
		left:0px;
		top:0px;
	}
}

/*---------------------------------------------------------------------------------
 Timeline
-------------------------------------------------------------------------------*/

:root {
	--primary: #1ba39c;
	--primary-gradient: #fff;
  }

.section-header {
  text-align: center;
}
.section-header h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section-header hr {
  border: 1px solid #fff;
  width: 56px;
}
.bg-gradient_solid {
  background: var(--primary-gradient);
  color: black;
  padding: 48px 0;
}
.steps {
  position: relative;
  margin-top: 32px;
}
.steps::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #eaeaea;
  top: 0;
  bottom: 0;
  left: 50%;
}

.steps-container {
  position: relative;
  background-color: inherit;
  width: calc(50% + 32px);
}

.steps-container .content {
  padding: 32px;
  background-color: #fff;
  position: relative;
  border-radius: 0px 0px 80px 0px;
  box-shadow: 0px 16px 27px rgb(0 11 30 / 10%);
}

.steps .steps-container:nth-child(even) {
  left: calc(50% - 32px);
  flex-direction: row-reverse;
}

.steps-container {
  display: flex;
}

.steps .steps-container .date {
  font-weight: 900;
  font-size: 16px;
  color: #eaeaea;
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  background-color: var(--primary);
  border-radius: 50%;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 777;
}

.step-line {
  width: 40px;
  background-color: #eaeaea;
  height: 1px;
  margin-top: 31px;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .steps::after {
    left: 32px;
  }
  .steps-container {
    left: 0;
    flex-direction: row-reverse;
    width: auto;
    margin-bottom: 16px;
  }
  .steps .steps-container:nth-child(even) {
    left: 0;
  }
}
